@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
html, body{
    margin: 0;
}
.header{
    color: white;
    background-color: black;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    height:7vh;
}
.header-buttons-holder{
    display: flex;
    align-items: center;
    height:100%;
}
.header-button{
    background-color:black;
    color:white;
    font-size: 20px;
    width:200px;
    height:100%;
    border:none;
    transition: all 0.3s;
}
.header-button:hover{
    background-color: orange; 
    color:black;
}

.content{
    height: 90vh;
    background-image: linear-gradient(orange, purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 3vh;
    background-color: black;
    color:white;
    display:flex;
    padding-left: 15px;
    align-items: center;
}