

.menu{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
.food{
    height:70%;
    display:grid;
    grid-template-rows: 10fr 2fr 2fr;;

}
.food-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.food-name, .food-price, .menu-btn{
    font-family: 'Silkscreen', cursive;
    color:white;
    font-size: 50px;
    transition: all 0.3s;
}

.menu-btn{
    background: transparent;
    border:none;
}

.food-name{
    font-size: 80px;
    
}

.food-name:hover, .food-price:hover, .menu-btn:hover{
    text-shadow: 12px 12px black;
}
